# Ignore environment variables
.env

# Python cache and compiled files
pycache/
*.pyc

# Image files (optional)
question.jpg

# Virtual environments
venv/
env/
*.egg-info/

# IDE settings
.vscode/
.idea/